/Build/
/Configuration/Development
/Configuration/Production
/Configuration/Testing
/Data/
/Packages/Application/Neos.Swiftmailer/
/Packages/Application/Flownative.DoubleOptIn/
/Packages/Framework/
/Packages/Libraries/
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat
.editorconfig
Packages/Application/Neos.IdNeosIo/Resources/Private/Styles/.sass-cache
Configuration/README
Configuration/Settings.yaml.example
