/Build/
/Configuration/
/Data/
/Packages/Application/TYPO3.Party/
/Packages/Application/TYPO3.Swiftmailer/
/Packages/Application/Flownative.DoubleOptIn/
/Packages/Framework/
/Packages/Libraries/
/Web/
/bin/
/Readme.txt
/Readme.rst
/Upgrading.txt
/Upgrading.rst
/flow
/flow.bat
beard.lock
Packages/Application/Neos.IdNeosIo/Resources/Private/Styles/.sass-cache